* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

.header {
    position: relative;
    height: 100vh; /* Занимает весь экран */
    background-image: url('background.jpg'); /* Ваш фон */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачная темная накладка */
}

h1 {
    position: relative;
    color: white;
    font-size: 3rem;
    z-index: 2;
}

.calculator-section {
    position: absolute;
    top: 50%;  /* Расположим по центру экрана по вертикали */
    left: 50%; /* Расположим по центру экрана по горизонтали */
    transform: translate(-50%, -50%); /* Центрирование */
    background-color: rgba(255, 255, 255, 0.452); /* Полупрозрачный белый фон для калькулятора */
    padding: 2rem;
    border-radius: 10px;
    z-index: 3; /* Поверх изображения */
    width: 90%; /* Ширина калькулятора */
    max-width: 400px; /* Максимальная ширина */
}

form {
    display: inline-block;
    text-align: left;
    width: 100%;
}

input, button, select {
    display: block;
    width: 100%;
    padding: 0.5rem;
    margin: 1rem 0;
}

button {
    background-color: #494949;
    color: white;
    border: none;
    cursor: pointer;
    padding: 0.7rem;
}

button:hover {
    background-color: #000000;
}

.social-section {
    position: absolute;
    bottom: 20px; /* Расположим соцсети внизу экрана */
    width: 100%;
    text-align: center;
}

.social-icon {
    display: inline-block;
    margin: 1rem;
    padding: 1rem;
    font-size: 2rem;
    color: #bbbbbb;
    text-decoration: none;
}

.social-icon:hover {
    color: #bbbbbb;
}
